@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@700&display=swap");
/* ==== reset ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-size: 100%;
}
/*================*/
body {
  overflow-y: auto;
  background-color: #252424;
}
#Robco {
  line-height: 30px;
  width: 492px;
}
a {
  color: inherit;
}

.guide-buttons {
  line-height: 25px;
  width: 20px;
}
main {
  font-family: "Red Hat Mono", monospace;
  color: #13c019;
  display: flex;
  width: 805px;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}
#menu-options {
  display: none;
  position: absolute;
  margin-top: 18px;
  background-color: #111111;
  right: 150px;
  width: 150px;
  height: 150px;
  border-radius: 15px;
}
#Cor {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
ul li p {
  letter-spacing: 11px;
}
#Cor input {
  background-color: #252424;
  color: #13c019;
  border-style: none;
  width: 32px;
}
/*outros navegadores*/
#Cor input::-webkit-outer-spin-button,
#Cor input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/*mozila*/
#Cor input[type="number"] {
  -moz-appearance: textfield;
}
nav ul {
  padding-top: 9px;
  padding-left: 20px;
}
nav ul li {
  list-style: none;
}
nav ul li:last-child {
  padding-top: 50px;
}
#Predefinido {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
}
#verde {
  border-style: solid;
  border-width: 7px;
  border-radius: 3px;
  border-color: rgb(19, 192, 25);
}
#laranja {
  border-style: solid;
  border-width: 7px;
  border-radius: 3px;
  border-color: rgb(199, 145, 25);
}
#azul {
  border-style: solid;
  border-width: 7px;
  border-radius: 3px;
  border-color: rgb(61, 166, 200);
}
#roxo {
  border-style: solid;
  border-width: 7px;
  border-radius: 3px;
  border-color: rgb(160, 80, 175);
}
.pred {
  cursor: pointer;
  margin-left: 12px;
}

.menu-terminal {
  display: block;
  margin: 0 auto;
  margin-top: 18px;
  width: 725px;
  height: 615px;
  border-radius: 15px;
  background-color: #111111;
  cursor: context-menu;
}
header {
  padding-left: 10px;
  padding-top: 3px;
}
header .options {
  display: flex;
  flex-direction: row;
  column-gap: 198px;
  align-items: baseline;
}
header .options i {
  cursor: pointer;
}
header #check {
  display: none;
}

header .display-chances {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  gap: 10px;
}
.interacao {
  display: flex;
  flex-direction: row;
  width: 603px;
  height: 500px;
  margin-top: 8px;
}
.conteudos {
  width: 300px;
  padding: 10px;
}
.conteudos p {
  display: inline-block;
}

.codigo {
  margin-right: -6px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.codigo:hover {
  background-color: #1ac315;
  color: #164317;
}

.verifi {
  display: flex;
  flex-direction: column-reverse;
  width: 100px;
  height: 43px;
  margin-top: 458px;
  margin-left: 10px;
}
